---
html_id: firma
title: Firma
---
<h2 class="major">Firma</h2>
<span><img src="images/logo.png" alt="" /></span>

<h3>Technologia sitodruku</h3>
<p>Drukujemy farbami rozpuszczalnikowymi, akrylowymi, plastizolami korzystając z gamy kolorów Pantone.
Stosowanie wysokiej jakości, dedykowanych do danego podłoża farb gwarantuje wysoką trwałość nadruków, odporność na ścieranie, warunki atmosferyczne.
Do wydruków specjalnego przeznaczenia (np. kontaktu z żywnością) zawsze używamy farb atestowanych.
Technika sitodruku jest idealna przy wykonaniu nadruków na podłożach typu papier, karton, szkło, metal, ceramika, miękkie i twarde tworzywa sztuczne, tekstylia naturale i syntetyczne, rajstopy.
Nadruki wykonujemy na materiałach własnych i powierzonych, w małych i dużych nakładach.</p>

<h3>Studio graficzne</h3>
<p>Własne studio graficzne umożliwia opracowywanie naszych pomysłów na nadruki oraz tworzenie zupełnie nowych wzorów wg pomysłu klienta. W ofercie znajdują się również kompleksowe usługi związane z poligrafią: przygotowanie projektu, skład, nadzór nad realizacją w drukarni offsetowej.</p>

<h3>Przygotowanie plików</h3>
<p>Projekty należy dostarczać w wersji elektronicznej (na płycie CD lub pocztą elektroniczną) w plikach z rozszerzeniem PDF, EPS, AI, CDR (do 12), pozostałe rozszerzenia po konsultacji.</p>

<h3>Reklama</h3>
<p>Rozszerzeniem działalności jest realizacja wszelkich koncepcji związanych z reklamą. Tablice reklamowe, kasetony, reklama na pojazdach, gadżety reklamowe, smycze, ulotki, wizytówki, zaproszenia.</p>
