---
html_id: Kontakt
title: Kontakt
---
<h2 class="major">Kontakt</h2>
<section>
<p><b>Pracownia Sitodruku Colorovo</b><br />
Monika Rolińska-Jaros</p>
<h4>Adres</h4>
<blockquote>
ul. Wojska Polskiego 33<br />
95-070 Aleksandrów Łódzki<br />
</blockquote>
<h4>Telefon</h4>
<blockquote>
+48 690 906 042<br />
+48 690 906 072<br />
</blockquote>
<h4>Dane do faktury</h4>
<blockquote>
NIP: 732-189-93-09<br />
REGON: 100 400 110<br />
</blockquote>
</section>
