<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="{{ site.baseurl }}assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div>
							<img src="/images/logo.png" />
						</div>
						<div class="content">
							<div class="inner">
								<h1>{{ site.title }}</h1>
								<p>{{ site.tagline }}<br />
								Aleksandrów Łódzki</p>
							</div>
						</div>
						<nav>
							<ul>
								{% for panel in site.panels %}
									<li><a href="#{{ panel.html_id }}">{{ panel.title }}</a></li>
								{% endfor %}
							</ul>
						</nav>
					</header>

				{{ content }}

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">Colorovo &copy; 2008 - {{ site.time | date: "%Y" }} <br /> Monika Rolińska-Jaros</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>

	</body>
</html>